:root{
    --aqualood-blue: rgb(19, 176, 160);
    --aqualood-red: rgb(225, 82, 82);
    --aqualood-yellow: rgb(255, 187, 0);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header{
    min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a img{
    width: 150px;
}

.nav-right{
    flex: 1;
    text-align: right;
    transition: 0.5s;
}

.nav-right li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-right li a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

.nav-right li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--aqualood-red);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-right li a:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 17px;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.text-box a:hover{
    border: 1px solid var(--aqualood-blue);
    background: var(--aqualood-blue);
    transition: 0.5s;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer{
    color: #fff;
    text-align: center;
    padding: 30px;
    background: #111;
}

.closeMenu{
    display: none;
}
.openMenu{
    display: none;
}


section{
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

section figure{
    margin: 10px;
}

section figure img{
    height: 500px;
    border-radius: 15px;
}

/*Description*/
.desc{
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    word-spacing: 3px;
}

.desc p{
    margin: 0 100px;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.desc p a{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.desc p:first-child{
    margin-top: 0px;
}


.images{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images p{
    margin: 0 100px;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.videos{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.videos p{
    margin: 0 100px;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.videos section iframe{
    margin-top: 50px;
}

figure{
    text-align: center;
}



.dropdown:hover {
    background-color: var(--aqualood-yellow);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--aqualood-yellow);
    min-width: 100px;
    z-index: 1;
    right:0;
}

.dropdown{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #d5e6fb;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.dropdown-content a:hover::after {
    width: 0%;
}


.text-box{
    display: none;
}
header{
    background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)), url(images/Banner4.png);
}

header:hover .text-box{
    display: block;
}

header:hover{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(images/Banner5.png);
}


.story {
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
    margin-left: 100px;
    margin-right: 100px;
}

.story p{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    margin-right: 40px;
}

.story p a{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}




@media(max-width: 1000px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-right li{
        display: block;
    }
    .nav-right{
        position: absolute;
        background: var(--aqualood-yellow);
        height: 50vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: right;
        z-index: 2;
    }
    .dropbtn{
        text-align: right;
    }
    .closeMenu, .openMenu{
        display: block;
        margin: 10px;
        color: #fff;
        cursor: pointer;
    }
}